.formGroup{
    display: flex;
    align-items: center;
    gap: 10px
}
.formGroup p{
    font-size: 20px;
    font-family: Calibri, 'serif';
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px
}
form button{
    width: 100% !important;
    margin: 0 !important;
}