.todo{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
    padding: 7px;
    transition: box-shadow 0.18s;
    position: relative;
}
.todo:hover{
    box-shadow: 0 0 10px var(--main-shadow-color);
}
.todo p{
    font-size: 20px;
    font-family: Calibri, serif;
}
.line{
    position: absolute;
    z-index: 20;
    height: 3px;
    width: 0;
    background: var(--main-shadow-color);
    opacity: 0;
    left: 0;
}
.line.active{
    width: 100%;
    transition: 0.4s ease-in-out;
    opacity: 1;
}