.iconButton{
    background-color: transparent;
    width: 55px;
    height: 55px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconButton svg{
    color: var(--main-text-color);
    transition: color .3s;
    width: 52px !important;
    height: 52px !important;
}