.input{
    font-size: 20px;
    font-family: Calibri, 'serif';
    border: 2px solid var(--main-text-color);
    border-radius: 5px;
    width: 100%;
    padding: 3px 0 3px 5px;
    transition: border .3s;
}
.input:focus{
    border: 2px solid var(--main-accent-color);
}
